.project-title {
    font-weight: normal;
    margin-bottom: 0;
    padding-top: 5vh;
}

.project-sub-title {
    margin-top: 0;
    color: #ff760c;
    font-size: smaller;
}

.project-sub-title i {
    color: #ff760c;
}

.project-desc {
    font-size: medium;
}

.project-link {
    display: block;
    font-size: medium;
    margin: 1vh;
}

.Projects hr {
    width: 75vw;
    margin: 7vh auto 4vh auto;
}

