.App {
  display: flex;
  flex-direction: column;
  text-align: left;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  margin: 2vw 2vh;
}

.app-anchor {
  display: block;
  margin-bottom: 8vh;
}

.app-title {
  color: white;
}

@media screen and (min-width: 760px) {
  .App {
    margin: 2vw auto;
    width: 75vw;
  }
}
